protobuf==3.20.0
opencv-python
mediapipe
asyncio
argparse
scipy
schema==0.7.5
pyyaml
numpy==1.21.6
#ecal5
datatypes_collection @ git+https://github.com/eclipse-ecal/protobuf-datatypes-collection@main
